<a href="https://colab.research.google.com/github/keerthanans2021/myfirstrep/blob/main/multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv("./Advertising.csv")

In [ ]:
dataset.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [ ]:
x.head()

   Unnamed: 0     TV  Radio  Newspaper
0           1  230.1   37.8       69.2
1           2   44.5   39.3       45.1
2           3   17.2   45.9       69.3
3           4  151.5   41.3       58.5
4           5  180.8   10.8       58.4

In [ ]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [ ]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [ ]:
print("Intercept:",mlr.intercept_)

Intercept: 2.72651896719829

In [ ]:
y_pred_mlr=mlr.predict(x_test)
print("predication for test set:".format(y_pred_mlr))

predication for test set:

In [ ]:
mlr_diff=pd.DataFrame({'Actual Value':y_test,'predicated value':y_pred_mlr})
mlr_diff.head()

     Actual Value  predicated value
126           6.6         10.590563
104          20.7         20.009138
99           17.2         16.911374
92           19.4         19.166602
111          21.8         20.942776